<?php
/**
 * @author      Matthias Büsing <info@mb-tec.eu>
 * @copyright   Copyright (c) 2018 Matthias Büsing
 * @link        https://mb-tec.eu
 * @license     MIT
 */
?>
<?php
/** @var \Magento\CheckoutAgreements\Model\ResourceModel\Agreement\Collection $argeementsCollection */
$argeementsCollection = $this->getAgreementsCollection();
$agreementMappedArray = [];
/** @var \Magento\CheckoutAgreements\Model\Agreement $agreement */
foreach ($argeementsCollection as $agreement) {
    if ($agreement->getIsActive()) {
        $agreementMappedArray[] = [
            'mode' => $agreement->getMode(),
            'agreementId' => $agreement->getAgreementId(),
            'checkboxText' => $agreement->getCheckboxText(),
            'content' => $agreement->getContent()
        ];
    }
}
$agreementJson = json_encode($agreementMappedArray);
?>

<?php if (!empty($agreementMappedArray)): ?>
    <div class="field">
        <label class="label"><span> </span></label>
        <div data-bind="scope: 'checkout-agreements-component-scope'" class="checkout-agreements-block">
            <!-- ko template: getTemplate() --><!-- /ko -->
        </div>
    </div>
    <script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "checkout-agreements-component-scope": {
                        "component": "Magento_CheckoutAgreements/js/view/checkout-agreements",
                        "agreements": <?php /* @noEscape */ echo $agreementJson; ?>,
                        "isVisible": true
                    }
                }
            }
        }
    }
    </script>
<?php endif ?>
